<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logistics API</title>
</head>
<body>
<header>
    <h1>Logistics API</h1>
    <nav>
        <ul>
            <li><a th:href= "@{/}">Home</a></li>
            <li><a th:href= "@{/inventory}">List All</a></li>
            <li><a th:href= "@{/crudopts}">CRUD Actions</a></li>
            <li><a th:href= "@{/graveyard}">View the GRAVEYARD!</a></li>

        </ul>
    </nav>
</header>
<main>
    <h2>HOME</h2>
    <p>You can utilize the links above to use the API.  Deleted items are by deleted using a safe-delete
        method which allows them to be retrievable still.  Items can be hard-deleted using delete method on path:
        '/delete/harddelete/{id}'  Items deleted with this method will not be retrievable after deletion which is why
        I have hidden it.</p>
</main>
</body>
</html>